<br>

<div class="usa-grid-full">
  <h1>Current Roadmap</h1>
  <p>This roadmap displays our priorities for the year while providing information for our stakeholders.  It is an estimate of what we're focused on completing in the near, medium, and long-term.</p>
</div>

<div class="usa-grid-full">
  <div class="usa-width-one-third">
    <table>
      <thead>
        <tr>
          <th scope="col">Near-term</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>Search results</td></tr>
        <tr><td>Project details</td></tr>
        <tr><td>Help wanted</td></tr>
        <tr><td>Roadmap on site</td></tr>
        <tr><td>Enhanced compliance dashboard</td></tr>
        <tr><td>Increased agancy participation</td></tr>
        <tr><td>Metadata schema 1.0 & 1.0.1 deprecation</td></tr>
      </tbody>
    </table>
  </div>

  <div class="usa-width-one-third">
    <table>
      <thead>
        <tr>
          <th scope="col">Medium-term</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>Agency pages</td></tr>
        <tr><td>Medium skin</td></tr>
        <tr><td>FAQs page</td></tr>
        <tr><td>Admin tool</td></tr>
        <tr><td>Enhanced tools & resources</td></tr>
      </tbody>
    </table>
  </div>

  <div class="usa-width-one-third">
    <table>
      <thead>
        <tr>
          <th scope="col">Long-term</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>User accounts</td></tr>
        <tr><td>Gamification</td></tr>
      </tbody>
    </table>
  </div>
</div>

<div class="usa-grid-full">
  <h3>Disclaimer</h3>
  <p>This roadmap is for informational purposes and subject to change. We'll do our best to keep the roadmap updated.</p>
</div>

<br>
